#nav-row {
  background: white;
  margin-bottom: 50px;
}

nav.navbar {
  background: white;
}

nav {
  background: white;
}

nav .container-fluid {
  background: white;
  max-width: 1050px;
}

nav .navbar-header {
  background: white;
  color: black;
}

nav .navbar-header a {
  color: #f44336;
}

nav .navbar-header button {
  border: none;
  background: white;
}

nav .navbar-header span {
  background: #f44336;
}

nav .navbar-collapse {
  background: white;
  color: black;
}

@media (min-width: 786px) {
  nav .navbar-collapse ul {
    float: right;
  }
}

@media (max-width: 786px) {
  nav .navbar-collapse ul li {
    padding-left: 20px;
  }
}

nav .navbar-collapse ul li a {
  color: black;
}

#full-page-banner {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/background.jpg) center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  border-radius: 0;
  min-height: 85vh;
}

#full-page-banner .jumbotron {
  background: none;
}

#full-page-banner .jumbotron h1 {
  color: white;
  margin-top: 100px;
  font-size: 56px;
}

#full-page-banner .jumbotron p {
  color: white;
  margin: 20px 0;
}

@media (min-width: 992px) {
  #full-page-banner .jumbotron p {
    padding-right: 45%;
  }
}

#full-page-banner .jumbotron .btn {
  background: #8bc34a;
  border: #8bc34a;
}

@media (max-width: 992px) {
  #full-page-banner .jumbotron {
    padding: 20px;
  }
}

footer {
  padding: 20px 50px;
  background: #f44336;
  color: white;
  border-top: solid #D32F2F 15px;
}

.footer-list {
  font-size: 12px;
  list-style: none;
  padding-left: 0;
}

.footer-list ul a {
  color: white;
}

.modal {
  color: black;
}

.modal .modal-header {
  background: #f44336;
  color: white;
}

.modal .modal-header {
  border-bottom: 10px solid #D32F2F;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal ol li {
  margin-top: 10px;
}

.modal ul {
  list-style: none;
  margin-left: 0;
}

.modal ul li {
  margin-top: 5px;
}

.modal button {
  background: #8bc34a;
  border: #8bc34a;
  color: white;
}

body {
  height: 100%;
}

body h1 {
  font-family: Abril Fatface, cursive;
}
