.modal .modal-header {
  background: #f44336;
  color: white;
}

.modal .modal-header {
  border-bottom: 10px solid #D32F2F;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal ol li {
  margin-top: 10px;
}

.modal ul {
  list-style: none;
  margin-left: 0;
}

.modal ul li {
  margin-top: 5px;
}

.modal button {
  background: #8bc34a;
  border: #8bc34a;
  color: white;
}

#nav-row {
  background: white;
  margin-bottom: 50px;
}

nav.navbar {
  background: white;
}

nav {
  background: white;
}

nav .container-fluid {
  background: white;
  max-width: 1050px;
}

nav .navbar-header {
  background: white;
  color: black;
}

nav .navbar-header a {
  color: #f44336;
}

nav .navbar-header button {
  border: none;
  background: white;
}

nav .navbar-header span {
  background: #f44336;
}

nav .navbar-collapse {
  background: white;
  color: black;
}

@media (min-width: 786px) {
  nav .navbar-collapse ul {
    float: right;
  }
}

@media (max-width: 786px) {
  nav .navbar-collapse ul li {
    padding-left: 20px;
  }
}

nav .navbar-collapse ul li a {
  color: black;
}

footer {
  padding: 20px 50px;
  background: #f44336;
  color: white;
  border-top: solid #D32F2F 15px;
}

.footer-list {
  font-size: 12px;
  list-style: none;
  padding-left: 0;
}

.footer-list ul a {
  color: white;
}

#register-background {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../assets/img/background.jpg) center center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  height: 800px;
  border-radius: 0;
}
