.specific-page-header
    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url(./assets/img/white-home-decoration-candles.jpg) center 
    background-size: cover
    background-repeat: no-repeat
    margin-top: 0
    box-shadow: 0 4px 3px -3px #efefef
    color: white
    height: 250px
.page-title
    color: $red
.pull-right 
    margin-top: 15px
    @media (min-width: 786px) 
        margin-top: 50px
    a
        color: $red
        cursor: pointer        
.indent
    padding-left: 25px
.demo-image
    text-align: center
    img
        width: 300px
        margin: auto
        @media (max-width: 786px) 
            margin-bottom: 25px
.involved
    border-left: solid 5px $red
    margin-bottom: 25px
form
    h3
        margin-top: 50px
        color: $red
        span
            color: black
    max-width: 550px
    margin: auto