body    {
    font-family: 'Raleway', sans-serif;
   width: 95%;
    height: 100%;
    background-color: #f8fafa;
    margin: auto;
}
.leftWrapper    {
    float: left;
    background-color:  inherit;
    /*border: 2px solid #c9c8c6;*/
    width: 20%;
    margin: 2%;
    height: 82%; 
}

.leftWrapper img    {
    height: 25%;
    width: 80%;
    margin: 5% 10%;
    float: left;
}
.mainMenu   {
    width: 80%;
    height: 45%;
    margin: 15% 10% 5% 10%;
    float: left;
    -moz-box-shadow: 1px 1px 10px 1px #f1f1f1;
  -webkit-box-shadow: 1px 1px 10px 1px #f1f1f1;
  box-shadow:         1px 1px 20px 1px #f1f1f1;
    background-color: #f1f1f1;
    border-radius: 15px;
}
.mainMenu h3    {
    margin-left: 20%;
    color: #515154;
    font-size: 120%;
}
.mainMenu ul    {
    list-style-type: none;
}
.mainMenu li    {
    padding: 10%;
    color: #747578;
    font-size: 115%;
}
.mainMenu a {
    text-decoration: none;
    color: #747378;
}
.mainMenu a:hover {
    color: #a6004a;
}
.mainMenu .currentPage  {
    color: #639565;   
}
.spreadTheWord  {
    width: 80%;
    height: 15%;
    margin: 30% 10% 0% 10%;
    float: left;
    text-align: center;
}
.spreadTheWord p    {
    color: #73102e;
    font-size: 100%;
    margin-left: /*edit 01/16 aligning SPREAD THE WORD SECTION, no more center text align, adjusted margins */
}
.spreadTheWord ul   {
    list-style: none;
    text-align: left;
}
.spreadTheWord li   {
    padding: 6%;
    font-size: 90%;
    margin-left: %;
    color: #68696c;  
}
.spreadTheWord li a {
    text-decoration: none;
    color: #68696c;
}
.spreadTheWord li a:hover   {
    text-decoration: underline;
}
.clearBlock {
    clear: both;
}
.centerWrapper  {
    margin: 2%;
    width: 72%;
    height: 82%;
    float: left;
}
.centerHeader {
    color: #639565;
    text-decoration: underline;
    text-decoration-color: #639565;
    width: 90%;
    height: 15%;
    float: left;
    margin: 0% 2% 0% 0%;
    font-size: 350%;
    font-family: 'Poiret One', cursive;
}
.centerContent  {
    width: 90%;
    height: 50%;
    margin: 11% 2% 0% 0%;
    float: left;
}
.centerContent h2   {
    color: #124057;
}
article {
    margin-left: 5%;
    width: 95%;
}
article footer  {
    text-align: right;
}
article footer a    {
    color: #5f8ca4;
}
.centerContent h4   {
    color: #1b5c7d; 
    margin-left: 5%;
}
.centerContent p    {
    color: #316c8a;
    margin-left: 10%;
}
.centerContent a    {
    color: #316c8a;
}
