@import variables
@import navbar
@import footer
@import modals
body
    // font rules
    h1, h2, h3, h4
        font-family: $Abril
        color: $red
    h2
        margin-bottom: 20px
    .FAQfix
        color: white
        font-weight: 500
    // any h2 heading on a contact page that seperates content.
    .second
        margin-top: 25px
        @media (min-width: 992px)
            margin-top: 50px
    ul
        list-style: none
    #donate-jumbo
        background: linear-gradient(rgba(0,0,0,.25), rgba(0,0,0,.25)), url(http://lunenburggiftmart.com/redesign/assets/img/gift-wrap.jpg) center center fixed
        background-size: cover
        background-repeat: no-repeat
        color: white
        height: 450px
        border-radius: 0
    #about-jumbo
        background: linear-gradient(rgba(0,0,0,.25), rgba(0,0,0,.25)), url(http://lunenburggiftmart.com/redesign/assets/img/banner-1.jpg) center center fixed
        background-size: cover
        background-repeat: no-repeat
        color: white
        height: 450px
        border-radius: 0
    #press-jumbo
        background: linear-gradient(rgba(0,0,0,.25), rgba(0,0,0,.25)), url(http://lunenburggiftmart.com/redesign/assets/img/banner-2.jpg) center center fixed
        background-size: cover
        background-repeat: no-repeat
        color: white
        height: 450px
        border-radius: 0
    #contact-jumbo
        background: linear-gradient(rgba(0,0,0,.25), rgba(0,0,0,.25)), url(http://lunenburggiftmart.com/redesign/assets/img/banner-3.jpg) center center fixed
        background-size: cover
        background-repeat: no-repeat
        color: white
        height: 450px
        border-radius: 0
    .jumbotron
        h1, p
            color: white
            @media (max-width: 992px)
                padding-left: 20px
            padding-left: 50px
        h1,
            font-size: 64px
            @media (max-width: 992px)
                margin-top: 150px
                padding-top: 50px
        p
            @media (min-width: 992px)
                padding-right: 45%
        .btn
            background: $green
            margin-top: 25px
            border: none
    .jumbotron h1, .jumbotron p
        @media (max-width: 992px)
            padding: 0 50px
    .content-wrap, .jumbotron h1, .jumbotron p
        max-width: 1050px
        margin: auto
    .content-wrap
        min-height: 50vh
        @media (max-width: 992px)
            padding: 20px 0 50px 0
        @media (min-width: 992px)
            padding: 20px 50px 50px 50px
        .col-md-8
            @media (min-width: 992px)
                padding-right: 100px
    .main-content, .aside
        margin-bottom: 15px
        .list
            li
                margin: 6px 0
        .partner-img
            height: 150px
            padding: 20px 0px 20px 0px
            img
                width: 120px
                margin: auto
